textarea{
    height: 100px;
    width: 400px;
    padding:5px;
}

.title{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:50px 0;
}

button{
    width:100px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.new-post{
height: 30vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;
}

.post-user{
    font-weight: bold;
}

.post-stats{
    font-weight:bold;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-top:10px;
}

.post-row{
    width:  400px;
    display:flex;
    flex-direction: column;
    margin:10px 0;
    padding:10px;
    transition:0.3s;
    cursor:pointer;
    border:1px solid rgb(202, 202, 202);
}

.post-row:hover{
    background-color: rgb(240, 240, 240);
}

form{
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;
gap:30px;
}

.posts{
display:flex;
justify-content:center;
align-items:center;
flex-direction: column;
}
